.document {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  gap: 0.5rem;

  @media (min-width: 950px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__listTaks-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0.5rem;
  }

  &__artcile {
    background-color: rgb(51, 51, 51);
    padding: 0.5rem;
    border-radius: 10px;
  }

  &__header-box {
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 0.4rem;
  }

  &__header-artcile {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
    text-align: center;
  }

  &__task-box {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    padding: 0.3rem 0.4rem;
    margin: 0.2rem 0;
    border-radius: 2px;
  }

  &__task-title {
    font-size: 1.2rem;
  }

  &__task-time {
    font-size: 0.8rem;
    color: gray;
  }

  &__task-description {
    display: block;
    text-align: justify;
    font-size: .875rem;
    color: rgb(214, 214, 214);
  }

  ///addDocument

  &__addDocument {
    margin: 0.5rem 1rem;

    @media (min-width: 950) {
      margin: 0.5rem 2rem;
    }

    &__header {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid white;
    }

    &__title {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
    }

    &__description {
      text-align: justify;
    }

    &__time {
      margin: 0.4rem 0;
      font-size: 1.2rem;
      color: rgb(47, 144, 209);
    }

    &__form {}
  }

  input[type="file"] {
    display: none;
  }


  &__add-file-box {
    display: block;
    cursor: pointer;
  }

  &__custom-upload {
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    justify-self: start;
    border: 1px solid white;
  }

  &__text-add-file {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  &__input-add-file {
    color: white;
  }

  &__button-add-file {
    margin-top: 1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(7, 86, 190);
    display: flex;
    align-items: center;
  }

  &__button-icon {
    margin-left: 0.2rem;
    text-decoration: none;
    font-size: 1rem;
  }

  &__text-too-late {
    color: rgb(241, 35, 35);
  }

  &__no-task {
    text-align: center;
  }

  &__back-to-list {
    cursor: pointer;
    color: rgb(76, 76, 228);
  }

  &__text-send {
    font-size: 0.8rem;
    color: red;
  }

  /// teacher 

  &__box-table {
    width: 100%;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

  }

  &__user-container {
    display: flex;
    justify-content: space-between;
  }

  &__user-table-tr {
    border-bottom: 1px solid rgb(109, 109, 109);
    text-align: center;
  }

  &__user-table-tr:nth-child(2n+1) {
    background-color: rgb(58, 58, 58);
    width: 100%;

  }

  &__table-head-th {
    padding: 0.7rem 0;
    padding-left: 0.2rem;
    cursor: pointer;
    text-align: center;
  }

  &__user-table-tr-head {
    border-bottom: 1px solid rgb(109, 109, 109);
    border-top: 1px solid rgb(109, 109, 109);
    padding: 1rem 0;
    background-color: rgb(0, 0, 0);
  }

  &__user-info-box {
    padding: 1rem 0;
    padding-left: 0.3rem;
  }

  &__user-info-box span {
    text-overflow: ellipsis;
  }

  &__btn-table {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.3rem 0.8rem;
    text-decoration: underline;

    &:nth-child(2n+1) {
      &:hover {
        background-color: rgb(49, 49, 49);
      }
    }

    &:hover {
      background-color: rgb(58, 58, 58);
    }
  }

  &__search-box {
    width: 100%;
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: row-reverse;
  }

  &__input-container {
    position: relative;
    max-width: 80%;
    width: 300px;
  }

  &__input-search {
    width: 100%;
    padding: 0.4rem 0.2rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1rem;
    outline: none;
  }

  &__input-search::placeholder {
    font-size: 1rem;
    color: rgb(170, 170, 170);
  }

  &__icon-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }

  &__answer-form-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__answer-form-container {
    background-color: rgb(29, 29, 29);
    width: 98%;
    height: 98%;
    border-radius: 5px;
    border: 0.5px solid white;
    position: relative;

    @media (min-width:900px) {
      width: 35%;
      height: 65%;
    }
  }

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  &__box-from {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__box-form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__btn-download {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(168, 168, 168);
    color: rgb(168, 168, 168);
    padding-bottom: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      border-color: rgb(121, 121, 121);
      color: rgb(121, 121, 121);
    }
  }

  &__form-rate-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-label {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.4rem;
    font-size: 1.1rem;
    color: rgb(141, 141, 141);
  }

  &__form-input {
    resize: none;
    width: 100%;
    background-color: rgb(26, 26, 26);
    outline: none;
    border: none;
    font-size: 1rem;
    margin: 0.4rem 0;
    padding: 0.3rem 0.2rem;
    color: white;
  }

  &__form-input-number {
    width: 80px;
  }

  &__form-submit-btn {
    background-color: rgb(48, 102, 43);
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 1rem;

    &:hover {
      background-color: rgb(34, 73, 30);
    }
  }
}