.user {
  width: 100%;
  height: 100%;

  &__box-table {
    width: 100%;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

  }

  &__user-container {
    display: flex;
    justify-content: space-between;
  }

  &__user-table-tr {
    border-bottom: 1px solid rgb(109, 109, 109);
  }

  &__user-table-tr:nth-child(2n+1) {
    background-color: rgb(58, 58, 58);
  }

  &__table-head-th {
    padding: 0.7rem 0;
    padding-left: 0.2rem;
    cursor: pointer;
  }

  &__user-table-tr-head {
    border-bottom: 1px solid rgb(109, 109, 109);
    border-top: 1px solid rgb(109, 109, 109);
    padding: 1rem 0;
    background-color: rgb(0, 0, 0);
  }

  &__user-info-box {
    padding: 1rem 0;
    padding-left: 0.3rem;
  }

  &__user-info-box span {
    text-overflow: ellipsis;
  }

  &__edit-user-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.3rem 0.8rem;

    &:hover {
      background-color: rgb(58, 58, 58);
    }
  }

  ///search 

  &__search-box {
    width: 100%;
    padding: 0.3rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 800px) {
      padding: 0.3rem 1rem;
    }
  }

  &__input-container {
    position: relative;
    max-width: 40%;
    width: 200px;
  }

  &__input-search {
    width: 100%;
    padding: 0.4rem 0.2rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1rem;
    outline: none;
  }

  &__input-search::placeholder {
    font-size: 1rem;
    color: rgb(170, 170, 170);
  }

  &__icon-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }

  &__btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: transparent;
    color: white;
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  //panel

  &__user-edit {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-edit-box {
    width: 97%;
    height: 97%;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
    position: relative;

    @media (min-width: 950px) {
      width: 60%;
      height: 80%;
    }

    @media (min-width: 1320px) {
      width: 50%;
      height: 80%;
    }
  }

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  ///form 

  &__header-form {
    text-align: center;
  }

  &__box-flex {
    display: flex;
    height: 100%;
  }

  &__form {
    width: 100%;
    padding: 0.1rem 1rem;
    overflow: auto;
  }

  &__form-error {
    text-align: center;
    color: red;
    font-size: 0.8rem;
  }

  &__box-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.6rem 0;
  }

  &__name-form-item {
    color: rgb(219, 218, 218);
    margin-bottom: 0.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  &__input-form-item {
    background-color: rgb(56, 56, 56);
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.2rem 0.4rem;
  }

  &__select-form {
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 1.1rem;
    border: none;
    outline: none;
    padding: 0.2rem 0.6rem;
  }

  &__select-item {
    color: white;
    background-color: rgb(43, 42, 42);
    text-transform: capitalize;
  }

  &__course-container {
    display: flex;
    align-items: center;
    padding: 0.1rem 0;
  }

  &__course-param {
    color: white;
    margin-right: 0.3rem;
  }

  &__course-btn {
    background-color: transparent;
    cursor: pointer;
    color: rgb(99, 99, 99);
    outline: none;
    border: none;
  }

  &__box-buttons {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 1rem;
  }

  &__btn-form {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }

  &__btn-form-add {
    background-color: rgb(10, 82, 10);
    margin-right: 0.3rem;
  }

  &__btn-form-add:hover {
    background-color: rgb(21, 114, 21);
  }

  &__btn-form-delete {
    background-color: rgb(170, 19, 19);
  }

  &__btn-form-delete:hover {
    background-color: rgb(219, 46, 46);
  }
}