.course {
  display: grid;
  height: 91vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  width: 100%;

  @media (min-width: 950px) {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
  }

  &__content-course {
    overflow: auto;

    @media (min-width: 950px) {
      order: 2;
    }
  }

  /// content

  &__container-course {
    display: grid;
    height: 83.8vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 30px) 1fr;

    @media (min-width: 950px) {
      height: 91vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: minmax(auto, 30px) 1fr;
      grid-template-areas:
        'header header header header header header '
        'list chat chat chat chat chat'
      ;
    }
  }

  &__header-course {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(78, 78, 78);
    background-color: rgb(44, 44, 44);
    box-shadow: 10px 5px 5px rgb(49, 49, 49);
    padding: 0.4rem;

    @media (min-width: 950px) {
      padding: 1.2rem;
      grid-area: header;
    }
  }

  &__stream-panel {
    display: grid;
    grid-template-rows: 1fr;

    @media (min-width: 950px) {
      grid-area: list;
    }
  }

  &__chat-panel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(1fr, 85vh) minmax(50px, auto);
    padding: 0 0.2rem;
    overflow-y: auto;


    @media (min-width: 950px) {
      padding-right: 0.5rem;
      grid-area: chat;
    }
  }

  ///messages

  &__no-messages {
    text-align: center;
    color: rgb(97, 97, 97);
  }

  &__messages-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
  }


  ///write mess

  &__form {
    display: grid;
    grid-template-columns: 1fr minmax(1vw, 40px);
  }

  &__form-textarea {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    height: auto;
    border-radius: 5px 0 0 5px;
    padding: 0.5rem 0.4rem;
    line-height: 1.2rem;
    resize: none;

    &::placeholder {
      color: rgb(197, 197, 197);
    }
  }

  &__form-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: rgb(129, 129, 129);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: rgb(228, 228, 228);
      background-color: rgb(51, 51, 51);
    }
  }

  ///header

  &__header-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;

    @media (min-width: 350px) {
      font-size: 1.2rem;
    }

    @media (min-width: 950px) {
      font-size: 1.3rem;
    }
  }

  // list

  &__list-section-teacher {
    display: grid;
    grid-template-rows: 50px 1fr;

    @media (min-width: 950px) {
      grid-template-rows: 50px 40px 1fr;
    }
  }

  &__list-section-user {
    display: grid;
    grid-template-rows: 1fr;

    @media (min-width: 950px) {
      grid-template-rows: 40px 1fr;
    }
  }

  &__list-section {
    border-right: 1px solid rgb(143, 143, 143);
  }

  &__teacher-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(78, 78, 78);

    @media (min-width: 950px) {
      border-bottom: none;
    }
  }

  &__list-title {
    display: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(143, 143, 143);
    border-top: 1px solid rgb(143, 143, 143);

    @media (min-width: 950px) {
      display: flex;
    }
  }

  &__list-container {
    display: none;
    width: 100%;
    overflow-y: auto;
    border-bottom: 1px solid rgb(143, 143, 143);

    @media (min-width: 950px) {
      border: none;
      display: block;
    }
  }

  &__box-user {
    display: flex;
    width: 100%;
    padding: 0.3rem;
  }

  &__box-img-user {
    height: auto;
    width: 10%;

    @media (min-width: 950px) {
      width: 15%;
    }
  }

  &__user-img {
    width: 100%;
  }

  &__box-name {
    margin-left: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__name-user {
    font-size: 1.1rem;
  }

  &__icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 1rem;
  }

  &__icon-container-call {
    background-color: rgb(20, 131, 20);
  }

  &__icon-container-add-task {
    background-color: rgb(79, 32, 155);
  }

}